body {
  overflow-x: hidden;
  background-image: url('./public/assets/gma.jpg');
}
.play {
  width: 300px;
  background-color: brown;
  cursor: pointer;
  position: relative;
  height: 100px;
  font-weight: bolder;
  font-size: 30px;
  top: 300px;
  left: 30%;
  animation-name: playbutton;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@media (max-width: 817px) {
  .play {
    left: 10%;
  }
}
@media (max-width: 510px) {
  .play {
    left: 0%;
  }
}
@media (max-width: 410px) {
  .play {
    width: 200px;
  }
}
