body {
  background-image: url('./assets/gma.jpg');
}
.play {
  width: 300px;
  background-color: brown;
  cursor: pointer;
  position: relative;
  height: 100px;
  font-weight: bolder;
  font-size: 30px;
  top: 300px;
  animation-name: playbutton;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes playbutton {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 300px;
  }
  75% {
    left: 400px;
  }
  100% {
    left: 600px;
  }
}
