.rocksection {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.scorediv {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 800px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.scorediv h1 {
  border: 2px solid saddlebrown;
  background-color: beige;
  width: 200px;
  height: 50px;
  font-weight: bolder;

  text-align: center;
  position: relative;
  vertical-align: middle;
}

.playsection {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  width: 90%;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 20px;
}

.playimg {
  width: 45%;
  max-width: 200px;
  height: auto;
  border: 2px solid salmon;
}

.playicon {
  width: 30%;
  max-width: 75px;
  height: auto;
}

.playdiv,
.comdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: bisque;
  height: 400px;
  gap: 20px;
}
@media (max-width: 920px) {
  .rocksection {
    top: 40%;
  }
}
@media (max-width: 430px) {
  .rocksection {
    top: 50%;
  }
}
